# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse / STS
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans (nếu không dùng có thể xóa block này)
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
*.properties
target/classes/META-INF/maven/edu.thanglong/edu.tlu/pom.xml
.project
.factorypath
